<header class="padding-3">
    <div class="tile">
        <div class="tile-icon">
            <figure class="avatar avatar-xl" data-initial="{{initials}}">
                <img src="img/{{username}}.png" alt="">
            </figure>
        </div>
        <div class="tile-content">
            <p class="tile-title">{{#if nickname}}{{nickname}}{{else}}{{username}}{{/if}}</p>
        </div>
        {{#if canDelete}}
            <form action="/deleteTopic" method="post" class="tile-action">
                <input type="hidden" name="topicID" value="{{topicID}}">
                <button class="btn btn-primary">delete</button>
            </form>
        {{/if}}
    </div>
    <h2 class="">{{title}}</h2>
    <p>{{context}}</p>
</header>
<section>
    <div class="tile">
        <div class="tile-icon">
            <figure class="avatar" data-initial="{{initials}}">
                <img src="img/{{username}}.png" alt="">
            </figure>
        </div>
        <div class="tile-content">
            <p class="tile-title">The Avengers</p>
            <p class="tile-subtitle">soon to be a comment</p>
        </div>
        <form class="tile-action">
            <input type="hidden" name="topicID" value="{{topicID}}">
            <button class="btn btn-primary">delete</button>
        </form>
    </div>

</section>
{{#each comments}}
    <p>{{content}}</p>
{{/each}}
<section>
    <div class="divider bg-primary"></div>
    {{#each formErrors}}
        <span class="label label-error">{{this}}</span>
    {{/each}}
    <form action="/createComment" method="post">
        <input type="hidden" name="topicID" value="{{topicID}}">
        <textarea name="commentContent" id="commentContent" placeholder="Add comment..."></textarea>
        <input type="submit" value="Post Comment">
    </form>
</section>
