<h2>Your account</h2>
{{#if success}}
    <p>{{success}}</p>
{{/if}}
<p>Username: {{username}}</p>
<p>Role: {{userTitle}}</p>
<form action="changeNickname" method="post">
    <ul>
        {{#each nicknameFormErrors}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
    <label for="nickname">Nickname:</label>
    <input name="nickname" id="nickname" type="text" value="{{nickname}}"/>
    <input type="submit" value="Change nickname"/>
</form>
<form action="changePassword" method="post">
    <h2>Change password</h2>
    <ul>
        {{#each passwordFormErrors}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
    <label for="currentPassword">Current password:</label>
    <input name="currentPassword" id="currentPassword" type="password"/>

    <label for="newPassword">New password:</label>
    <input name="newPassword" id="newPassword" type="password"/>

    <label for="reenteredPassword">Repeat password:</label>
    <input name="reenteredPassword" id="reenteredPassword" type="password"/>

    <input type="submit" value="Change password">
</form>
