<header class="text-center">
    <h2>Your account</h2>
</header>
{{#if success}}
    <p><span class="label label-success">{{success}}</span></p>
{{/if}}
<section class="columns">
    <h3 class="column col-12">Details</h3>

    <span class="label text-right column col-4">Username: </span>
    <span class="column col-8 text-left">{{username}}</span>

    <span class="label text-right column col-4">Role:</span>
    <span class="column col-8 text-left">{{userTitle}}</span>

    <span class="label text-right column col-4">Nickname:</span>
    <span class="column col-8 text-left">{{nickname}}</span>

</section>

<div class="divider bg-dark"></div>
<section>
    <form action="updateNickname" method="post" class="columns">
        <h3 class="column col-12">Change nickname</h3>
        {{#if nicknameFormErrors}}
            <ul class="column col-12">
                {{#each nicknameFormErrors}}
                    <li><span class="label label-error">{{this}}</span></li>
                {{/each}}
            </ul>
        {{/if}}
        <label for="nickname" class="label text-right col-4">Nickname:</label>
        <input name="nickname" id="nickname" type="text" class="column col-8 text-left" value="{{nickname}}"/>
        <input type="submit" class="col-mx-auto" value="Change nickname"/>
    </form>
</section>

<div class="divider bg-dark"></div>
<section>
    <form action="/uploadImage" method="post" encType="multipart/form-data" class="columns">
        <h3 class="col-12">Change profile picture</h3>
        <ul class="column col-12">
            {{#each imageFormErrors}}
                <li><span class="label label-error">{{this}}</span></li>
            {{/each}}
        </ul>
        <figure class="avatar avatar-xl col-12" data-initial="{{initials}}">
            <img src="userImages/{{username}}.png" alt="">
        </figure>
        <input type="file" class="col-12" name="image">
        <span class="label">Max 50Mb</span>
        <div class="col-12"></div>
        <input type="submit" value="Upload picture" class="col-mx-auto">
    </form>
</section>

<div class="divider bg-dark"></div>
<section>
    <form action="changePassword" method="post" class="columns">
        <h3 class="column col-12">Change password</h3>
        <ul class="column col-12">
            {{#each passwordFormErrors}}
                <li><span class="label label-error">{{this}}</span></li>
            {{/each}}
        </ul>
        <label for="currentPassword" class="label text-right col-4">Current password:</label>
        <input name="currentPassword" id="currentPassword" class="col-8 text-left" type="password"/>

        <label for="newPassword" class="label text-right col-4">New password:</label>
        <input name="newPassword" id="newPassword" class="col-8 text-left" type="password"/>

        <label for="reenteredPassword" class="label text-right col-4">Repeat password:</label>
        <input name="reenteredPassword" id="reenteredPassword" class="col-8 text-left" type="password"/>

        <input type="submit" class="col-mx-auto" value="Change password">
    </form>
</section>

<div class="divider bg-dark"></div>
<section class="columns">
    <div class="popover popover-top col-mx-auto">
        <button class="col-mx-auto btn btn-error">Delete account</button>
        <div class="popover-container">
            <div class="card bg-warning">
                <div class="card-header">
                    <form action="deleteAccount" method="post" class="columns">
                        <input type="submit" class="col-mx-auto btn btn-error" value="I am certain!">
                    </form>
                </div>
                <div class="card-body">
                    <p>Are you sure you want to delete your account?</p>
                </div>
            </div>
        </div>
    </div>
</section>